@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/CN_TC/LietKeTC" method="POST">
    <label for="SoTrieuChung">Số triệu chứng</label>
    <input type="text" id="SoTrieuChung" name="SoTrieuChung" />
    <input type = "submit" value = "Liệt kê"/>
</form>
