@model IEnumerable<firstWeb.Models.Khoa> 

@{
    ViewData["Title"] = "Liệt kê khoa";
}

<h2>Danh Sách các khoa</h2>
<table border="1">
    <tr>
        <th>Mã Khoa</th>
        <th>Tên Khoa</th>
        <th>Chức năng</th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MaKhoa
            </td>

            <td>
                @item.TenKhoa
            </td>
            <td>
                <a class="btn btn-primary" href="DeleteKhoa?Id=@item.MaKhoa">Xóa</a>
                <a class ="btn btn-success" href="ViewKhoa?Id=@item.MaKhoa">View</a>
            </td>

        </tr>
    }
</table>
